<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="search">
        <input type="text" name="who" value="이름입력">
        <input type="text" name="where" value="주소입력">
        <input type="text" name="what" value="품목입력">
        <input type="url" name="url"" value="url입력">
        <input type="text" name="number" value="연락처입력">
    </div>
</body>
</html>